<div class="summary">
  <div class="widget">
    <div class="widget-header">
      <%= render 'widget_buttons' %>
    </div>
    <div class="widget-body clearfix">
      <h4><%= documentation('title') %></h4>
      <p><%= documentation('description') %></p>
      <h6>Authentication</h6>
      <p><%= documentation('authorisation') %></p>
      <h6>Instructions</h6>
      <p><%= documentation('steps') %></p>
      <h6>Errors</h6>
      <p><%= documentation('errors') %></p>
    </div>
  </div>
</div>
