<div class="summary">
  <div class="widget">

    <div class="widget-body clearfix">
      <h4><%= documentation('title') %></h4>
      <p><%= documentation('description') %></p>
      <h5>Authentication</h5>
      <p><%= documentation('authorisation') %></p>
      <% if resource.api_errors %>
        <h5>Errors</h5>
        <table class="table table-bordered">
          <tr>
            <td>Error Code</td>
            <td>Description</td>
          </tr>
          <% resource.api_errors.each do |k,v| %>
          <tr>
            <td><%= k %></td>
            <td><%= v %></td>
          </tr>
          <% end %>
        </table>
      <% end %>
    </div>
  </div>
</div>
