<table id="<%= resource_class.name.underscore.gsub('/', '_') %>_table" class="<%= decorator_class.table_style %> table-bordered table-condensed table-hover" >
  <%=
    render :partial => 'table_header',
           :locals => {
             :decorator_class => decorator_class,
             :column_names => column_names
           }
  %>

  <%=
    render :partial => 'table_body',
           :locals => {
             :collection => collection.take(sweet_ux_count),
             :resource_class => resource_class,
             :column_names => column_names
           }
  %>

  <%= render 'table_footer' %>
</table>
