<% content_for :header do %>
	<%= content_header %>
<% end %>

<div class="tab-content">
	<div class="row">
		<div class="col-md-9 col-sm-8">
			<%= render 'finder_form' %>
		</div>

		<div class="col-md-3 col-sm-4">
			<%= render 'pagination' %>
		</div>
	</div>

  <% decorator_class.index_widgets.each do |w| %>
    <div class="col-xs-<%= 12 / decorator_class.index_widgets.size %>">
			<%= render :partial => w, :locals => { :column_names => column_names } %>
    </div>
  <% end %>
</div>

<% content_for :footer do %>
	<%= render 'content_footer' %>
<% end %>
