<% content_for :header do %>
	<%= content_header %>
<% end %>

<div class="tab-content">
	<div class="row">
		<div class="col-md-9 col-sm-8">
			<%= render 'finder_form' %>
		</div>

		<div class="col-md-3 col-sm-4">
			<%= render 'pagination' %>
		</div>
	</div>
	<%= render :partial => 'table', :locals => { :column_names => column_names } %>
</div>

<% content_for :footer do %>
	<%= render 'content_footer' %>
<% end %>
