<body class="<%= Rails.env %> <%= engine_name %> <%= controller_name %> <%= action_name %>">
  <%= render 'loading' %>
  <%= render 'masthead' %>
  <%= render 'content' %>
  <%= gflash %>
  <%= render 'footer' %>
</body>
